.section {
  // .section__about

  &__about {
    padding-right: 10px;
    padding-left: 10px;
            padding-bottom: 100px;
    @include breakpoint-mf("md") {
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  // .section__about-title

  &__about-title {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;

    h1 {
      color: #fff;
      @include fonts(400, 20px, 23px);
      @include breakpoint-mf("xl") {
        @include fonts(400, 32px, 38px);
      }
    }
  }

  // .section__about-wrapper

  &__about-wrapper {
    margin: 0 auto;
    max-width: 1400px;

    display: grid;
grid-template-columns: 1fr;
grid-template-rows: repeat(2, 1fr);
gap: 40px;
  }

  // .section__about-block

  &__about-block {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;

     @include breakpoint-mf("md") {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    justify-items: center;

&:nth-child(1) {
grid-area: 1 / 1 / 2 / 2; 
}
&:nth-child(2) {
  grid-area: 2 / 1 / 3 / 2;
}
    }
  }

  // .section__about-block-img

  &__about-block-img {

    display: flex;
    align-items: center;
    flex-direction: column;

    img {
      width: 100%;
          height: 100%;
          border-radius: 40px;
              @include breakpoint-mf("xs") {
                      width: 100%;
              }
    }
    &:nth-child(1) {

             @include breakpoint-mf("md") {

       }
    }
    &:nth-child(2) {
grid-area: 1 / 1 / 2 / 2;
             @include breakpoint-mf("md") {
        
       }
    }
  }

  // .section__about-block-text

  &__about-block-text {
    @include flex(column, center, center);
    color: $secondary;
    @include fonts(400, 16px, 24px);
    @include breakpoint-mf("sm") {
      @include fonts(400, 18px, 25px);
    }
    @include breakpoint-mf("my") {
      @include fonts(400, 20px, 30px);
    }
    @include breakpoint-mf("xl") {
      @include fonts(400, 20px, 37px);
    }
//for 2
    &:nth-child(1) {
      

       @include breakpoint-mf("md") {
grid-area: 1 / 2 / 2 / 3;
       }
    }
    //for 1
    &:nth-child(2) {
    grid-area: 2 / 1 / 3 / 2;
       @include breakpoint-mf("md") {
  grid-area: 1 / 1 / 2 / 2;
       }
    }
  }
}
