.section-animals {
  // .section-animals__article

  &__article {
    @extend %article;
  }

  // .section-animals__content

  &__content {
    @extend %content;
  }

  // .section-animals__text

  &__text {
    @include flex(column, space-evenly, center);

    p {
      @include fonts(400, 16px, 31px);
      color: $text;

      @include breakpoint-mf("xs") {
        @include fonts(400, 17px, 31px);
      }
    }
    // .section-animals__text_list

    &_list {
      @extend %decimal-list;
      padding-bottom: 40px;
      @include breakpoint-mf("ma") {
        padding-bottom: 50px;
      }
    }
  }

  // .section-animals__img

  &__img {
    @extend %img-text-pages;
  }
}

#border {
  border-top: 1px solid #5d5d5d;
  padding-top: 40px;
  @include breakpoint-mf("ma") {
    padding-top: 50px;
  }
}
