.category {
  // __categories

  // .category__list
  &--open {
    display: block;
    flex-direction: column;
  }

  @media (max-width: 768px) {
    display: none;
  }
  &__wrapper {
    top: 60px;
    left: 0;
    z-index: 999;
    position: absolute;
    width: 100%;
    display: none;
    margin-top: 25px;
    @include breakpoint-mf("ma") {
      display: flex;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    margin: 30px 0 0 0;
    max-width: 1200px;

    @media (min-width: 768px) {
      flex-direction: row;
      border-bottom: 1px solid $secondary;
      margin: 0 auto;
      margin-top: 30px;
    }
  }

  // .category__list-item

  &__list-item {
    padding-bottom: 13px;
  }

  // .category__list-link

  &__list-link {
     line-height: 19px;
    color: #ffffff;
    position: relative;
    padding-bottom: 2px;
    font-size: 16px;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      border-bottom: 2px solid #fff;
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 0.4s ease;
    }

    &:hover::after,
    &:active:after {
      transform: scaleX(1);
      transform-origin: left;
    }
  }
}

.subcategory {
  // .subcategory__list

  &__list {
    display: none;
    z-index: 100;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: var(--box-shadow);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
  }

  // .subcategory__list-link

  &__list-link {
    line-height: 19px;
    color: #fff;
    position: relative;
    padding-bottom: 2px;

    &:hover {
      font-weight: 700;
      transform: scaleX(1);
      transition: transform 0.2s ease;
    }
  }
}

.category__list-item:hover .subcategory__list {
  display: flex;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 0;
  list-style: none;
  justify-content: space-around;
  max-width: 1200px;
  height: 60px;
  padding-top: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 9px;

  @media (min-width: 768px) {
    position: absolute;
    padding-left: 9px;
  }

  // border-top: 1px solid $primaryLight
  &::before {
    margin-top: 30px;
    content: "";
    position: absolute;
    top: -30px;
    left: 0;
    display: block;
    width: 100%;
    border-bottom: 1px solid $primaryLight;
  }
}

/*MOBILE*/

.mobile {
  // .mobile__categories-wrapper

  &__categories-wrapper {
  }

  // .mobile__categories-list-item

  &__categories-list-item {


  }

  // .mobile__categories-list-link

  &__categories-list-link {
    line-height: 19px;
    color: black;
    position: relative;
    padding-bottom: 2px;
    font-size: 1em;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      border-bottom: 2px solid black;
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 0.4s ease;
    }

    &:hover::after,
    &:active:after {
      transform: scaleX(1);
      transform-origin: left;
    }
  }

  // .mobile__subcategories-list

  &__subcategories-list {
    display: none;
    z-index: 100;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: var(--box-shadow);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
  }

  // .mobile__subcategories-list-item

  &__subcategories-list-item {
  }

  // .mobile__subcategories-list-link

  &__subcategories-list-link {
  }

  // .mobile__categories

  &__categories {
  }
}

// .mobile__categories-list-link:hover .mobile__subcategories-list {
//   display: flex;
//   position: absolute;
//   top: 100%;
//   left: 0;
//   width: 100%;
//   padding: 0;
//   list-style: none;
//   max-width: 1200px;
//   height: 60px;
//   padding-top: 15px;
//   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
//   border-radius: 9px;

//   @media (min-width: 768px) {
//     position: absolute;
//     padding-left: 9px;
//   }

//   // border-top: 1px solid $primaryLight
//   &::before {
//     margin-top: 30px;
//     content: "";
//     position: absolute;
//     top: -30px;
//     left: 0;
//     display: block;
//     width: 100%;
//     border-bottom: 1px solid $primaryLight;
//   }
// }
