.section-faq {
  // .section-faq__title

  &__title {
  }

  // .section-faq__wrapper

  &__wrapper {
  }

  // .section-faq__block

  &__block {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: $text;
    line-height: 30px;
    &:nth-child(1) {
      padding-top: 3px;
    }
    &:nth-child(6) {
      div {
        border-top: 1px solid #414141;
        border-bottom: 0;
      }
    }
  }

  // .section-faq__question

  &__question {
    color: $white;
    position: relative;
    text-align: left;
    width: 100%;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
    border-bottom: 1px solid #5d5d5d;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-bottom: 22px;
    padding-top: 20px;

    h3 {
      @include fonts(400, 18.5px, 25px);
      @include breakpoint-mf("md") {
        @include fonts(400, 20px, 25px);
      }
    }
  }

  // .section-faq__answer

  &__answer {
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    overflow: hidden;
    color: $text;
    transition: max-height 1.4s ease, opacity 0.6s ease, visibility 0.6s ease;

    p {
      @include fonts(400, 17px, 25px);
      padding-top: 1rem;
      padding-bottom: 1rem;
      @include breakpoint-mf("md") {
        @include fonts(400, 18px, 25px);
      }
    }
  }
}
#question-last {
  border: 0;
}

.section-faq__block.active .section-faq__answer {
  opacity: 1;
  visibility: visible;
  max-height: 100em;
}

.section-faq__block.active i {
  transform: rotate(180deg);
}

.section-faq__block i {
  transition: transform 0.5s ease-in;
}
