.back-img {
  background-image: url(../../dist/img/grand-contact4.png);
  // background-image: url(@img/grand-contact.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.form__wrapper {
  padding: 30px;
  @include breakpoint-mf("ma") {
    padding: 40px;
  }
}
.form__title {
  padding-bottom: 64px;
  @include flex(column, center, center);
  text-align: center;
    @include fonts(500, 20px, 25px);
  color: #fff;
  @include breakpoint-mf("ma") {
    @include fonts(500, 20px, 22px);
  }
  @include breakpoint-mf("xl") {
    @include fonts(500, 25px, 30px);
  }
}

.form__wrapper .form__input {
  position: relative;
}

.form__wrapper .form__input input,
textarea {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
  resize: none;
}

.form__wrapper .form__input label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.form__wrapper .form__input input:focus ~ label,
.form__wrapper .form__input input:valid ~ label {
  top: -20px;
  left: 0;
  color: #bdb8b8;
  font-size: 12px;
}
.form__wrapper .form__input textarea:focus ~ label,
.form__wrapper .form__input textarea:valid ~ label {
  top: -20px;
  left: 0;
  color: #bdb8b8;
  font-size: 12px;
}
.form__input.error input {
  border-color: red;
}

.form__input.success input {
  border-color: red;
}
.form__input small {
  color: red;
}
.login-box a span {
  position: absolute;
  display: block;
}

.form__btn {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 95px;
  border: 3px solid #ffab00;
  cursor: pointer;
  position: relative;
  background-color: transparent;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  font-family: inherit;
  cursor: pointer;
  padding: 16px 13px;
  border-radius: 500px;
}
.form__btn-input {
  font-size: 16px;
  font-weight: 700;
  color: white;
  background-color: transparent;
  border: 0;
}
.form__btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  // background-color: rgb(252, 70, 100);
  background-color: #3b03f8;
  transform: translateX(-100%);
  transition: all 0.3s;
  z-index: -1;
}

.form__btn:hover::before {
  transform: translateX(0);
}

.form__btn:hover {
  border: 3px solid #3b03f8;
}

/*change btn*/
/*error messages fix*/
/**/

.section {
  // .section__contacts

  &__contacts {
    padding: 150px 10px;
    @include breakpoint-mf("md") {
      padding-right: 15px;
      padding-left: 15px;
    }
  }
}

.contacts {
  // .contacts__wrapper

  &__wrapper {
    margin: 0 auto;
    max-width: 952px;
    display: block;
    @include breakpoint-mf("xs") {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 570px;
      justify-content: center;
    }
  }

  // .contacts__block

  &__block {
    &:nth-child(1) {
      grid-area: 1 / 1 / 2 / 2;
      background: rgba(24, 20, 20, 0.987);
      box-sizing: border-box;
      border-radius: 40px;
      border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

      @include breakpoint-mf("xs") {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
              border-bottom-left-radius: 40px;
      }
    }
    &:nth-child(2) {
      grid-area: 1 / 2 / 2 / 3;
      background: rgb(35 33 33 / 99%);
      box-sizing: border-box;
      border-radius: 40px;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 40px;

      @include breakpoint-mf("xs") {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
              border-top-right-radius: 40px;
      }
    }
  }
}

.info {
  // .info__wrapper

  &__wrapper {
    padding: 36px;
     @include breakpoint-mf("xs") {
          padding: 25px;
     }
    @include breakpoint-mf("ma") {
      padding: 40px;
    }
  }
}

.info {
  // .info__wrapper

  &__wrapper {
  }

  // .info__title

  &__title {
        @include flex(column, normal, normal);

    @include fonts(500, 15px, 25px);
    color: #fff;
    @include breakpoint-mf("ma") {
      @include fonts(500, 20px, 22px);
    }
    @include breakpoint-mf("xl") {
      @include fonts(500, 22px, 25px);
    }
  }

  // .info__title-span

  &__title-span-free-consult {
    text-transform: uppercase;
    color: #ffab00;
  }

  &__title-span-second {
    display: flex;
    justify-content: flex-end;
  }

  // .info__social-buttons

  &__social-buttons {
    // @include flex(column, space-evenly, normal);
    @include flex(column, space-between, flex-start);
    height: 310px;
    padding-top: 50px;

    @include breakpoint-mf("xs") {
      // @include flex(column, space-between, flex-start);
    }
    @include breakpoint-mf("ma") {
    }
    svg {
      transition: 0.3s;
      height: 20px;
    }
  }

  &__social-buttons-block {
    display: flex;
    align-items: center;
    gap: 1.5em;
  }

  &__social-button-text {
    color: #c3c3c3;
  }

  // .info__social-button

  &__social-button {
    display: flex;
    justify-content: center;
    align-items: center;
    // @include flex(column, space-evenly, center);
    @include flex(column, center, center);
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 0px 4px #00000027;
    transition: 0.3s;

    svg {
      width: 20px;
    }

    &:hover {
      // background-color: #f2f2f2;
      box-shadow: 0px 0px 6px 3px #00000027;
    }
    //   @include breakpoint-mf("xs") {
    //   width: 50px;
    //   height: 50px;
    // @include flex(column, center, center);
    // }
    // @include breakpoint-mf("ma") {

    // }
  }

  // .info__social-buttons-block

  &__social-buttons-block {
  }
}

.info-telegram {
  background-color: #000;
  svg {
    width: 25px;
    height: 25px;
    fill: #f2f2f2;
  }

  &:hover {
    background-color: #37aee2;
  }
}

.info-viber {
  background-color: #000;
  svg {
    fill: #f2f2f2;
  }
  &:hover {
    background-color: #9069ae;
  }
}
.info-facebook {
  background-color: #000;
  svg {
    fill: #f2f2f2;
  }
  &:hover {
    background-color: #3b5998;
  }
}


.info-instagram {
  background-color: #000;
  svg {
    fill: #f2f2f2;
  }
  &:hover {
    background-color: #c13584;
  }
}


.info-whatsapp {
  background-color: #000;
  svg {
    fill: #f2f2f2;
  }
  &:hover {
    background-color: #25D366;
  }
}
