.back-img {
  background-image: url(../../dist/img/grand-contact4.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.contact-form {
 @include flex(column, center, stretch);
  gap: 13px;

  &__wrapper {
    padding: 30px;
    @include breakpoint-mf("ma") {
      padding: 40px;
    }
  }
  &__title {
    @include flex(column, center, center);
    text-align: center;
    @include fonts(500, 20px, 25px);
    color: $white;
    @include breakpoint-mf("ma") {
      @include fonts(500, 20px, 22px);
    }
    @include breakpoint-mf("xl") {
      @include fonts(500, 25px, 30px);
    }
  }
  &__block {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  &__label {
    color: #717171;
    @include fonts(400, 16px, 25px);
    @include breakpoint-mf("xs") {
      @include fonts(400, 19px, 25px);
    }
  }
  &__input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #414141;
    background: transparent;
    color: $text;
    color-scheme: dark;
    padding-bottom: 5px;
    @include fonts(400, 16px, 25px);
    @include breakpoint-mf("xs") {
      @include fonts(400, 17px, 25px);
    }
  }
  &__btn {
    @include flex(row, center, flex-start);
    font-family: inherit;
    color: #717171;
    font-weight: 600;
    width: 40%;
    background: #313131;
    border: 1px solid #414141;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 6px;

    &:hover {
      background-color: $white;
      border-color: $white;
    }
  }
}

/*SCTION CONTACTS*/

.section-contacts {
  // .contacts__wrapper
  padding-top: 150px;
  padding-bottom: 150px;

  &__wrapper {
    margin: 0 auto;
    max-width: 952px;
    display: block;
    @include breakpoint-mf("sm") {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: center;
    }
  }

  // .contacts__block

  &__block {
    &:nth-child(1) {
      grid-area: 1 / 1 / 2 / 2;
      background: rgba(24, 20, 20, 0.987);
      box-sizing: border-box;
      border-radius: 40px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      @include breakpoint-mf("sm") {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 40px;
      }
    }
    &:nth-child(2) {
      grid-area: 1 / 2 / 2 / 3;
      background: rgb(35 33 33 / 99%);
      box-sizing: border-box;
      border-radius: 40px;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 40px;

      @include breakpoint-mf("sm") {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 40px;
      }
    }
  }
}

.info-telegram {
  background-color: #000;
  svg {
    width: 25px;
    height: 25px;
    fill: #f2f2f2;
  }

  &:hover {
    background-color: #37aee2;
  }
}

.info-viber {
  background-color: #000;
  svg {
    fill: #f2f2f2;
  }
  &:hover {
    background-color: #9069ae;
  }
}
.info-facebook {
  background-color: #000;
  svg {
    fill: #f2f2f2;
  }
  &:hover {
    background-color: #3b5998;
  }
}

.info-instagram {
  background-color: #000;
  svg {
    fill: #f2f2f2;
  }
  &:hover {
    background-color: #c13584;
  }
}

.info-whatsapp {
  background-color: #000;
  svg {
    fill: #f2f2f2;
  }
  &:hover {
    background-color: #25d366;
  }
}

.info-social {
  // .info-social_telegram

  &_telegram {
    background-color: #000;
    svg {
      width: 25px;
      height: 25px;
      fill: #f2f2f2;
    }

    &:hover {
      background-color: #37aee2;
    }
  }

  // .info-social_viber

  &_viber {
    background-color: #000;
    svg {
      fill: #f2f2f2;
    }
    &:hover {
      background-color: #9069ae;
    }
  }

  // .info-social_facebook

  &_facebook {
    background-color: #000;
    svg {
      fill: #f2f2f2;
    }
    &:hover {
      background-color: #3b5998;
    }
  }

  // .info-social_instagram

  &_instagram {
    background-color: #000;
    svg {
      fill: #f2f2f2;
    }
    &:hover {
      background-color: #c13584;
    }
  }

  // .info-social_whatsapp

  &_whatsapp {
    background-color: #000;
    svg {
      fill: #f2f2f2;
    }
    &:hover {
      background-color: #25d366;
    }
  }

  // .info-social_gmail

  &_gmail {
    background-color: #000;
    svg {
      fill: #f2f2f2;
    }
    &:hover {
      background-color: #f81515;
    }
  }

  // .info-social__wrapper

  &__wrapper {
    padding: 36px;
    @include breakpoint-mf("xs") {
      padding: 25px;
    }
    @include breakpoint-mf("ma") {
      padding: 40px;
    }
  }

  // .info-social__title

  &__title {
    @include flex(column, normal, normal);

    @include fonts(500, 15px, 25px);
    color: $white;
    @include breakpoint-mf("ma") {
      @include fonts(500, 20px, 22px);
    }
    @include breakpoint-mf("xl") {
      @include fonts(500, 22px, 25px);
    }
    span {
      &:nth-child(2) {
        display: flex;
        justify-content: flex-end;
      }
    }
  }

  // .info-social__span

  &__span {
    &:nth-child(2) {
      display: flex;
      justify-content: flex-end;
    }
  }

  // .info-social__buttons

  &__buttons {
    @include flex(column, space-between, flex-start);
    height: 310px;
    padding-top: 50px;

    @include breakpoint-mf("ma") {
    }
    svg {
      transition: 0.3s;
      height: 20px;
    }
    // .info-social__buttons_block

    &_block {
      display: flex;
      align-items: center;
      gap: 1.5em;
    }
  }

  // .info-social__button

  &__button {
    @include flex(column, center, center);
    width: 42px;
    height: 42px;
    border-radius: 50%;
    box-shadow: 0px 0px 4px #00000027;
    transition: 0.3s;

    svg {
      width: 20px;
    }

    &:hover {
      box-shadow: 0px 0px 6px 3px #00000027;
    }
  }

  // .info-social__text

  &__text {
    color: #c3c3c3 !important;
  }
}

#free-consult_yellow {
  text-transform: uppercase;
  color: $yellow;
}

.error {
  color: #e74c3c;
}

input.error, textarea.error {
  color: $text;
  border-bottom: 1px solid #e74c3c;
}

input:focus.error, textarea:focus.error {
  border-color: #e74c3c;
}
