@font-face {
  font-family: "Undounded-Regular"; /* Имя шрифта */
  src: url(../../dist/files/Unbounded-Regular.woff2);
}

@font-face {
  font-family: "NeutralFace"; /* Имя шрифта */
  src: url(../../dist/files/NeutralFace.otf);
}

@font-face {
  font-family: "FixelText-Black"; /* Имя шрифта */
  src: url(../../dist/files/FixelText-Black.ttf);
}

body {
  // font-family: 'Undounded-Regular';
  font-family: "Poppins", sans-serif;
  // background-color: #131313;
  background-color: #222222;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
}

.container {
  padding-bottom: 30px;
  padding-right: 10px;
  padding-left: 10px;
  @include breakpoint-mf("md") {
    padding-right: 15px;
    padding-left: 15px;
  }
  @include breakpoint-mf("xl") {
    padding-bottom: 70px;
  }
}

.wrapper {
  margin: 0 auto;
  max-width: 1400px;
}

.title {
      font-family: "FixelText-Black";
  text-align: center;
  padding-top: 30px;
  padding-bottom: 50px;
  @include breakpoint-mf("xl") {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  h1 {
    color: #fff;
    @include fonts(400, 20px, 23px);

    @include breakpoint-mf("xl") {
      @include fonts(400, 32px, 38px);
    }
  }
}

b {
  font-weight: 800;
  color: #fff;
}

.flex-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}


/* total width */
.body::-webkit-scrollbar {
  background-color: #fff;
  width: 10px;
}
/* background of the scrollbar except button or resizer */
.body::-webkit-scrollbar-track {
  background-color: #222222;
}

/* scrollbar itself */
.body::-webkit-scrollbar-thumb {
  background-color: #bebdbd;
  border-radius: 16px;
}

/* set button(top and bottom of the scrollbar) */
.body::-webkit-scrollbar-button {
  display: none;
}

.overflow {
  min-height: 100vh;
}

