.menu-active {
  overflow: hidden; /* Запрет прокрутки фона */
}

.header {
  // .header__wrapper

  padding-right: 10px;
  padding-left: 10px;
    margin-bottom: 18px;
    
  @include breakpoint-mf("md") {
    padding-right: 15px;
    padding-left: 15px;
  }

  &__wrapper {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    @include flex(row, space-between, center);
    color: #fff;
    height: 90px;
  }
}

.logo {
  position: relative;
  z-index: 3;

  &__img {
    width: 100px;
    height: 58px;
    @include breakpoint-mf("ma") {
      margin-top: 25px;
      width: 140px;
      height: 73px;
    }
  }
}

.nav-menu {
  display: none;
  // @include breakpoint-mf("ma") {
    @include breakpoint-mf("my") {
    display: flex;
    width: 350px;
    justify-content: space-around;
  }
  // .nav-menu__item

  &__item {
    height: 20px;
    width: 85px;
  }

  // .nav-menu__link

  &__link {
    color: #fff;
    position: relative;
    z-index: 3;
    @include fonts(400, 19px, 25px);

    &:nth-child(1) {
      gap: 8px;
      display: flex;
      align-items: center;
    } 
  }

  // .nav-menu__button

  &__button {
    // .nav-menu__button_consult

    &_consult {
      display: none;
      // @include breakpoint-mf("ma") {
        @include breakpoint-mf("my") {
        display: inline-block;
      }
      z-index: 3;
      outline: none;
      cursor: pointer;
      border: none;
      padding: 15px 13px;
      margin: 0;
      font-family: inherit;
      font-size: inherit;
      position: relative;
      letter-spacing: 0.05rem;
      font-weight: 700;
      font-size: 17px;
      border-radius: 500px;
      overflow: hidden;
      background: #3b03f8;
      color: ghostwhite;

      span {
        position: relative;
        z-index: 10;
        transition: color 0.4s;
      }

      &::before,
      &::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
      }

      &::before {
        content: "";
        background: #ffab00;
        width: 120%;
        left: -10%;
        transform: skew(30deg);
        transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
      }

      &:hover::before {
        transform: translate3d(100%, 0, 0);
      }
    }
  }
}

.nav-dropdown {
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  overflow: hidden;
  transition: 550ms height ease-in-out;
  background-color: rgb(0, 0, 0);
  // width: 100vw;
  width: 100%;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;

  &::before {
    content: "";
    position: absolute;
    top: 105px;
    left: -100vw;
    right: -100vw;
    height: 1px;
    background-color: #444;
  }
  // .nav-dropdown__list

  &__list {
    margin: 0 auto;
    max-width: 1400px;
    padding-top: 130px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  // .nav-dropdown__item

  &__item {
    cursor: pointer;
    // padding: 60px 40px 70px;
    padding: 30px 40px 0px;

    &:nth-child(1) {
      grid-area: 1 / 1 / 2 / 2;
    }
    &:nth-child(2) {
      grid-area: 1 / 2 / 2 / 3;
    }
    &:nth-child(3) {
      grid-area: 1 / 3 / 2 / 4;
    }
    &:nth-child(4) {
      grid-area: 1 / 4 / 2 / 5;
    }
  }

  // .nav-dropdown__link

  &__link {
    color: $primaryLight;
    @include fonts(500, 16px, 22px);
  }
}
.nav-dropdown-sub {
  // .nav-dropdown-sub__list

  &__list {
    margin-top: 40px;
  }

  // .nav-dropdown-sub__item

  &__item {
    margin-bottom: 31px;
  }

  // .nav-dropdown-sub__link

  &__link {
    color: #fff;
    @include fonts(500, 17px, 32px);
  }
}
.nav-menu__item:hover .nav-dropdown {
  opacity: 1;
  visibility: visible;
  // height: 800px;
  height: 100%;
  // transition: 550ms height ease-in-out;
  transition: 550ms height ease-in-out, 550ms opacity ease-in-out,
    550ms visibility ease-in-out;
}

.nav-menu__item:not(:hover) .nav-dropdown {
  opacity: 0;
  visibility: hidden;
  height: 0;
  // transition: 550ms height ease-in-out;
  transition: 550ms height ease-in-out, 400ms opacity ease-in-out,
    400ms visibility ease-in-out;
}

/*MOBILE*/

/* Гамбургер иконка */

.hamburger {
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 1000;
  overflow: hidden;
  display: inline-block;
  // @include breakpoint-mf("ma") {
  //   display: none;
  // }
    @include breakpoint-mf("my") {
    display: none;
  }
}

.hamburger .bar {
  width: 30px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

.hamburger .bar:nth-of-type(2) {
  top: calc(50% - 9px);
}
.hamburger .bar:nth-of-type(3) {
  top: calc(50% + 9px);
}

/* Меняем гамбургер иконку, когда меню открыто */
.hamburger.active .bar:nth-of-type(1) {
  display: none;
}
.hamburger.active .bar:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
}
.hamburger.active .bar:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
}

.nav-mobile {
  // .nav-mobile__wrapper

  &__wrapper {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    background: #000;
    overflow-x: hidden;
    transition: 0.5s;
    @include flex(column, space-between, flex-start);
  }

  // .nav-mobile__list

  &__list {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 100px 30px;
    gap: 30px;
  }

  // .nav-mobile__item

  &__item {
    @include fonts(400, 30px, 25px);
    color: #fff;
  }

  // .nav-mobile__link

  &__link {
    @include fonts(400, 30px, 25px);
    color: #fff;

    // &:nth-child(1) {
    //   gap: 8px;
    //   display: flex;
    //   align-items: center;
    // }
  }
}

.nav-mobile__wrapper.active {
  width: 100%;
}

.mobile-dropdown {
  // .mobile-dropdown__wrapper

  &__wrapper {
    opacity: 0;
    visibility: hidden;
    z-index: 2;
    overflow: hidden;
    transition: 550ms height ease-in-out;
    // width: 100vw;
    width: 100%;
    height: 0;
    left: 0;
  }

  // .mobile-dropdown__list

  &__list {
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    // column-gap: 4em;
    // row-gap: 1em;
  }

  // .mobile-dropdown__item

  &__item {
    cursor: pointer;
    padding: 20px 28px 0px 0px;

    &:nth-child(1) {
      grid-area: 1 / 1 / 2 / 2;
    }
    &:nth-child(2) {
      grid-area: 1 / 2 / 2 / 3;
    }
    &:nth-child(3) {
      grid-area: 2 / 1 / 3 / 2;
    }
    &:nth-child(4) {
      grid-area: 2 / 2 / 3 / 3;
    }
  }

  // .mobile-dropdown__link

  &__link {
    color: $primaryLight;
    @include fonts(500, 15px, 22px);
  }
}
.mobile-dropdown-sub {
  // .mobile-dropdown-sub__list

  &__list {
    margin-top: 40px;
  }

  // .mobile-dropdown-sub__item

  &__item {
    margin-bottom: 31px;
  }

  // .mobile-dropdown-sub__link

  &__link {
    color: #fff;
    @include fonts(500, 16px, 32px);
  }
}

.nav-mobile__item:hover .mobile-dropdown__wrapper {
  opacity: 1;
  visibility: visible;
  height: 100%;
  // height: auto; /* Убираем жестко заданную высоту */
  transition: 550ms height ease-in-out, 550ms opacity ease-in-out,
    550ms visibility ease-in-out;
}

.nav-mobile__item:not(:hover) .mobile-dropdown__wrapper {
  opacity: 0;
  visibility: hidden;
  height: 0;
  transition: 550ms height ease-in-out, 400ms opacity ease-in-out,
  400ms visibility ease-in-out;
}

////////////////

// /* Начальное состояние */
.nav-menu__link .fa-angle-up,
.poslygu__dropdwn .fa-angle-up {
  display: none;
}

/* Когда курсор наведен на пункт меню */
.nav-menu__item:hover .nav-menu__link .fa-angle-down,
.nav-mobile__item:hover .poslygu__dropdwn .fa-angle-down {
  display: none;
}

.nav-menu__item:hover .nav-menu__link .fa-angle-up,
.nav-mobile__item:hover .poslygu__dropdwn .fa-angle-up {
  display: inline;
}

/* Когда курсор не наведен на пункт меню */
.nav-mobile__item:not(:hover) .poslygu__dropdwn .fa-angle-down,
.nav-mobile__item:not(:hover) .poslygu__dropdwn .fa-angle-down {
  display: inline;
}

.nav-mobile__item:not(:hover) .poslygu__dropdwn .fa-angle-up,
.nav-mobile__item:not(:hover) .poslygu__dropdwn .fa-angle-up {
  display: none;
}

.poslygu__dropdwn {
  gap: 8px;
  display: flex;
  align-items: flex-start;
}

.nav-mobile {
  // .nav-mobile__button

  &__button {
    padding: 25px 30px;

    &_consult {
      display: inline-block;
      z-index: 3;
      outline: none;
      cursor: pointer;
      border: none;
      padding: 15px 13px;
      margin: 0;
      font-family: inherit;
      font-size: inherit;
      position: relative;
      letter-spacing: 0.05rem;
      font-weight: 700;
      font-size: 17px;
      border-radius: 500px;
      overflow: hidden;
      background: #3b03f8;
      color: ghostwhite;

      span {
        position: relative;
        z-index: 10;
        transition: color 0.4s;
      }

      &::before,
      &::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
      }

      &::before {
        content: "";
        background: #ffab00;
        width: 120%;
        left: -10%;
        transform: skew(30deg);
        transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
      }

      &:hover::before {
        transform: translate3d(100%, 0, 0);
      }
    }
  }
}
