.section-parcels {
  // .section-parcels__list

  &__list {
    @extend %non-decimal-list;
  }

  // .section-parcels__article

  &__article {
    @extend %article;
  }

  // .section-parcels__content

  &__content {
    @extend %content;
  }

  // .section-parcels__text

  &__text {
    @extend %text-content-pages;
    flex: 1; /* Расширяем .section-parcels__text на всю высоту .section-parcels__content */

    // .section-parcels__text_list

    &_list {
      @extend %decimal-list;
    }
  }

  // .section-parcels__example

  &__example {
    color: $text;

    h3 {
      font-weight: 600;
      font-size: 20px;
      line-height: 2.5em;
      color: $text;
    }
    &_box {
      @include fonts(600, 16px, 2em);
      border: 1px solid $white;
      padding: 2em;

      @include breakpoint-mf("xs") {
        @include fonts(600, 17px, 2em);
      }
    }
  }

  // .section-parcels__img

  &__img {
    @extend %img-text-pages;
  }
}
