.section-payments {

  // .section-payments__article

  &__article {
    @extend %article;
  }

  // .section-payments__subtitle

  // .section-payments__list

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  // .section-payments__item

  &__item {
    @include fonts(400, 16px, 31px);
    color: $text;

    @include breakpoint-mf("xs") {
      @include fonts(400, 17px, 31px);
    }
    span {
      @include fonts(700, 17px, 31px);
      color: $white;
      @include breakpoint-mf("xs") {
        @include fonts(700, 18px, 31px);
      }
    }
  }

  // .section-payments__table

  &__table {
    @include fonts(400, 16px, 31px);
    background-color: rgb(255 255 255);
    width: 100%;
    @include breakpoint-mf("xs") {
      @include fonts(400, 17px, 31px);
    }
  }

  // .section-payments__columns

  &__columns {
    text-align: center;

    th {
      border-left: 1px solid #000000;
    }
    td {
      border: 1px solid #000000;
      font-size: 14px;
      padding: 1px 0;

      @include breakpoint-mf("xs") {
        font-size: 16px;
        padding: 3px 0;
      }
    }
  }

  // .section-payments__headlines

  &__headlines {
    padding: 5px 0;
    font-weight: 700;
  }
}
