.section-reviews {
  padding-bottom: 50px;

  &__slider {
    display: flex;
    height: 500px;

    @include breakpoint-mf("my") {
      height: 500px;
    }
  }
  // .section-reviews__block

  &__block {
    background: #1a1b21;
    height: 80%;
    border-radius: 40px;
    display: flex;
    transition: all 0.4s;
  }
  // .section-reviews__block-date

  &__block-date {
    padding: 21px;
    color: #797a7a;
    position: relative;
    @include flex(column, space-between, flex-end);
    padding-top: 0;
  }

  // .section-reviews__block-person

  &__block-person {
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 21px;
    padding-bottom: 10px;

    img {
      width: 110px;
      height: 104px;
      border-radius: 50%;

      @include breakpoint-mf("xl") {
        width: 121px;
        height: 115px;
      }
    }
    span {
      color: $white;
      font-size: 20px;
    }
  }

  // .section-reviews__block-text

  &__block-text {
    padding: 21px;
    padding-top: 0;
    @include fonts(400, 16px, 29px);
    color: $text;
    padding-bottom: 0;
    @include breakpoint-mf("xs") {
      @include fonts(400, 15px, 36px);
    }

    @include breakpoint-mf("xl") {
      @include fonts(400, 19px, 43px);
    }
    @include breakpoint-mf("xll") {
      @include fonts(400, 17px, 29px);
    }
  }
}

.swiper-wrapper {
}
.card-slider {
  // .card-slider__wrapper
}
.section-reviews__block-shadow {
  @include flex(column, space-between, normal);
}

.swiper-slide.swiper-slide-active .section-reviews__block-shadow {
  box-shadow: 0px 0px 6px 1px $blue;
  border: 1px solid $blue;
  border-radius: 40px;
  height: 100%;
}

.swiper-pagination-bullet {
  padding: 1.5px;
  background: $blue;
}
.swiper-pagination-bullet-active {
  background: #131313;
  border: 1px solid $blue;
  padding: 3px;
}
