.scroll-up {
  color: #fff;
  span {
    @include fonts(500, 20px, 31px);
    padding-right: 10px;
  }
}

#scroll-up-btn {
  &::before {
    padding: 5px;
    border-radius: 50%;
    border: 1px solid currentcolor;
  }
}
