.bg-van {
  background-image: url(../../dist/img/bg-van.png);
  // background-image: url(@img/grand-contact.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.section-transportation {
  // .section-transportation__wrapper

  &__wrapper {
  }

  &__header {
    padding-top: 80px;
    height: 100vh;
    // display: grid;
    // grid-template-columns: repeat(2, 1fr);
    // grid-template-rows: 20% 80%;
    // grid-column-gap: 0px;
    // grid-row-gap: 50px;
  }

  // .section-transportation__title-wrapepr

  &__title-wrapper {
    // grid-area: 1 / 1 / 2 / 3;

    @include flex(column, center, center);
  }

  // .section-transportation__title

  &__title {
    @include fonts(500, 5vw, 38px);
    //3.6 for xl
    @include flex(row, center, center);
    color: #d0cdcd;
    @include breakpoint-mf("xs") {
      @include fonts(500, 4.5vw, 38px);
    }
    @include breakpoint-mf("my") {
      @include fonts(500, 4vw, 38px);
    }
    @include breakpoint-mf("xl") {
      @include fonts(500, 3.6vw, 38px);
    }
    @include breakpoint-mf("xll") {
      @include fonts(500, 42px, 38px);
    }
  }
  // .section-transportation__links

  &__links {
  }

  // .section-transportation__list

  &__list {
  }

  // .section-transportation__item

  &__item {
    // position: relative;
    counter-increment: li;
    min-height: 2rem;
    padding-top: 0.5rem;
    list-style: none;

    &::before,
    &::after {
      position: absolute;
      display: flex;
      //   opacity: 0.35;
    }

    &::before {
      content: counter(li);
      //   left: -2.75rem;
      //   top: 0;
      height: calc(2rem - 1px);
      width: calc(2rem - 1px);
      align-items: center;
      justify-content: center;
      border-radius: 50%;

      border: 1px solid #ffab00;
      color: #fff;
    }
    @include breakpoint-mf("md") {
      padding-top: 2.5rem;
    }
  }

  // .section-transportation__link

  &__link {
    font-family: "Undounded-Regular";
    color: #fff;
    padding-left: 50px;
    @include fonts(400, 17px, 33px);

    @include breakpoint-mf("md") {
      @include fonts(400, 22px, 35px);
    }
    span {
      border-bottom: 1px solid #ffab00;
    }
  }
  // .section-transportation__block

  &__article_block {
    padding: 80px 0;

    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 80px;
  }
  // .section-transportation__subtitle

  &__subtitle {
    font-family: "Rubik", sans-serif;
    // color: #3b03f8;
    @include fonts(900, 28px, 38px);
    // background-color: #ffab00;

    b {
      background-color: #ffab00;
      padding: 10px 10px;
      border-radius: 10px;
    }
    // span {
    //         border-bottom: 4px solid #3b03f8;
    //     border-left: 5px solid #3b03f8;
    //     padding: 5px 5px;
    // }
  }

  // .section-transportation__article

  &__article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding-top: 20px;
  }
  // .section-transportation__img

  &__text {
    @include flex(column, space-evenly, center);

    p {
      //   padding: 25px 33px;
      //   height: 100%;
      @include fonts(400, 16px, 31px);

      @include breakpoint-mf("xs") {
        @include fonts(400, 17px, 31px);
      }

      //   @include breakpoint-mf("md") {
      //     @include fonts(400, 17px, 40px);
      //   }
    }
    &_list {
      display: flex;
      flex-direction: column;
      gap: 28px;
    }

    &_list-item {
      &::before {
        content: "\25b6"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
        color: #3b03f8; /* Change the color */
        font-weight: bold; /* If you want it to be bold */
        display: inline-block; /* Needed to add space between the bullet and the text */
        width: 1em; /* Also needed for space (tweak if needed) */
        margin-left: -1em; /* Also needed for space (tweak if needed) */
      }
    }
  }

  &__img {
    img {
      width: 100%;
      height: 100%;
      border-radius: 30px;
    }
  }
}
.reveal-text {
}
.img-right {
  float: right;
}
.img-left {
  float: left;
}
.swift-up-text {
  display: flex;
}

.reveal-letter {
  color: #d0cdcd;
}

/* DEMO-SPECIFIC STYLES */
.typewriter {
  // display: inline-block;
  width: fit-content; /* Установка ширины под содержимое */
}
.section-transportation__title_typping {
  // display: inline-block;
  font-family: "Undounded-Regular";
  padding: 10px 0;
  height: 50px;
  color: #fefefe;
  //   font-size: 50px;
  font-size: 12px;
  font-weight: 700;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
  // @include breakpoint-mf("md") {
  //   @include fonts(700, 25px, 35px);
  // }
  span {
    color: #000;
    padding: 8px 10px;
    background-color: #ffab00;
  }
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

/*photos*/

.gallery {
  --g: 8px; /* the gap */
  --s: 400px; /* the size */

  display: grid;
  border-radius: 50%;
}
.gallery > img {
  grid-area: 1/1;
  //   width: 450px;
  width: 70%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
  transform: translate(var(--_x, 0), var(--_y, 0));
  cursor: pointer;
  z-index: 0;
  transition: 0.3s, z-index 0s 0.3s;
}
.gallery img:hover {
  --_i: 1;
  z-index: 1;
  transition: transform 0.2s, clip-path 0.3s 0.2s, z-index 0s;
}
.gallery:hover img {
  transform: translate(0, 0);
}
.gallery > img:nth-child(1) {
  clip-path: polygon(
    50% 50%,
    calc(50% * var(--_i, 0)) calc(120% * var(--_i, 0)),
    0 calc(100% * var(--_i, 0)),
    0 0,
    100% 0,
    100% calc(100% * var(--_i, 0)),
    calc(100% - 50% * var(--_i, 0)) calc(120% * var(--_i, 0))
  );
  --_y: calc(-1 * var(--g));
}
.gallery > img:nth-child(2) {
  clip-path: polygon(
    50% 50%,
    calc(100% - 120% * var(--_i, 0)) calc(50% * var(--_i, 0)),
    calc(100% - 100% * var(--_i, 0)) 0,
    100% 0,
    100% 100%,
    calc(100% - 100% * var(--_i, 0)) 100%,
    calc(100% - 120% * var(--_i, 0)) calc(100% - 50% * var(--_i, 0))
  );
  --_x: var(--g);
}
.gallery > img:nth-child(3) {
  clip-path: polygon(
    50% 50%,
    calc(100% - 50% * var(--_i, 0)) calc(100% - 120% * var(--_i, 0)),
    100% calc(100% - 120% * var(--_i, 0)),
    100% 100%,
    0 100%,
    0 calc(100% - 100% * var(--_i, 0)),
    calc(50% * var(--_i, 0)) calc(100% - 120% * var(--_i, 0))
  );
  --_y: var(--g);
}
.gallery > img:nth-child(4) {
  clip-path: polygon(
    50% 50%,
    calc(120% * var(--_i, 0)) calc(50% * var(--_i, 0)),
    calc(100% * var(--_i, 0)) 0,
    0 0,
    0 100%,
    calc(100% * var(--_i, 0)) 100%,
    calc(120% * var(--_i, 0)) calc(100% - 50% * var(--_i, 0))
  );
  --_x: calc(-1 * var(--g));
}

.gallery {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 50px;
  }
}

b {
  font-weight: 700;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}




/*SLIDER*/
// .section-transportation__wrapper {
//   position: relative;
//   height: 100%;
// }

// .swiper {
//   width: 100%;
//   height: 100%;
// }

// .swiper-slide {
//   text-align: center;
//   font-size: 18px;
//   background: #fff;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .swiper-slide img {
//   display: block;
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
// }
